@import '../../variables/_all';
@import '../../partials/_buttons.scss';

.result-overview {
  width: 100%;
  overflow: hidden;

  &__title {
    font-weight: 400;
    margin: $size-lg 0;
  }
}

.result {
  &__item {
    width: 100%;
    display: grid;
    background-color: $item-background;
    padding: 20px;
    box-sizing: border-box;
    border-left: $size-sm solid transparent;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: $base-size;
    transition: all 0.7s;
    position: relative;

    &::after {
      content: "";
      width: 60%;
      height: 100%;
      position: absolute;
      right: 0;
      background-color: $item-background;
      transition: all 0.7s;
    }

    &:hover {
      border-left: $size-sm solid $z-orange;
      background-color: $item-background;

      &::after {
        right: -500px;
      }
    }
  }

  &__scores {
  }
  &__score {
    display: inline-block;
    width: 50px;
    font-size: 1.2em;
    font-weight: 700;
  }
  &__team {
    display: inline-block;
    width: 100px;
    text-wrap: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__kickerbox-location {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    margin-left: $size-sm;
  }

  &__kickerbox {
    font-weight: 500;
  }

}
