@import '../../../partials/_form';

.form {
  &__teams {
    width: 100%;
  }

  &__team {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    &:first-child {
      padding-right: $base-size;
    }
    &:last-child {
      padding-left: $base-size;
    }
  }
}
