<form class="reservation-form" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div class="form-group form__item">
    <label class="form__label">Date</label>
    <input class="form__dateinput" type="datetime-local" formControlName="date">
  </div>
  <div class="form-group form__item">
    <label class="form__label">Kickerbox</label>
    <select class="form__select" formControlName="kickerboxId">
      <option *ngFor="let kickerbox of kickerboxes" [value]="kickerbox.id">{{kickerbox.name}} @ {{kickerbox.location}}
      </option>
    </select>
  </div>
  <div class="form__teams">
    <div class="form-group form__item form__team">
      <label class="form__label">Home</label>
      <select class="form__select" formControlName="homeTeamId">
        <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
      </select>
    </div>
    <div class="form-group form__item form__team">
      <label class="form__label">Visiting</label>
      <select class="form__select" formControlName="visitorTeamId">
        <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
      </select>
    </div>
  </div>
</form>

<button class="button button-half" type="button" (click)="cancel()">Cancel</button>
<button class="button button-half" type="button" (click)="onSubmit()" [disabled]="reservationForm.pristine">Make Reservation</button>

