$primary-color: rgb(125, 200, 135);

$item-background: white;

$main-background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 59%,#398235 100%);

$form-background: white;

$text-dark: black;
$text-light: white;

$z-purple: rgb(158, 110, 185);
$z-orange: rgb(255, 153, 0);
$z-dark-gray: rgb(102, 102, 102);
$z-light-gray: rgb(204, 204, 204);
$z-bright-blue: rgb(102, 204, 255);
$z-blue: rgb(0, 153, 204);
$z-bright-green: rgb(204, 255, 0);
$z-green: rgb(0, 204, 102);
