$base-size: 4px;

// 4 8 16 24 32
$size-xs: $base-size;
$size-sm: $base-size * 2;
$size-md: $base-size * 4;
$size-lg: $base-size * 6;
$size-xl: $base-size * 8;

$size-list: (xs, sm, md, lg);
$sizes: (xs: $size-xs, sm: $size-sm, md: $size-md, lg: $size-lg, xl: $size-xl);
