<form class="form" [formGroup]="kickerboxForm" (ngSubmit)="onSubmit()">
  <div class="form-group form__item">
    <label class="form__label">Name</label>
    <input class="form__input" formControlName="kickerboxName">
  </div>
  <div class="form-group form__item">
    <label class="form__label">Location</label>
    <input class="form__input" formControlName="kickerboxLocation">
  </div>
  <div class="form-group form__item">
    <label class="form__label">Model</label>
    <input class="form__input" formControlName="kickerboxModel">
  </div>
</form>

<div>
  <button class="button button--half" type="button" (click)="cancel()">Cancel</button>
  <button class="button button--half" type="submit" [disabled]="kickerboxForm.pristine">Add Kickerbox</button>
</div>
