@import "../variables/_all";

//Basic styling
.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  color: $z-dark-gray;
  margin-top: $size-lg;
  padding: $size-lg;
  position: relative;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2px;
  border-bottom: $base-size solid $z-blue;
  background: white;

  &--primary {
    background-color: $z-bright-blue;
    &:hover {
      color: $text-light;
    }
    &:disabled {
      cursor: not-allowed;
      color: $z-light-gray;
      &:hover {
        color: $z-light-gray;
      }
    }
    &:active {
      border-color: $z-dark-gray;
      outline: none;
    }
  }

  &--cancel {
    background-color: $z-light-gray;
    border-color: $z-dark-gray;
    &:hover {
      color: $text-light;
    }
    &:active {
      border-color: black;
      outline: none;
    }
  }

  &--full {
    width: 100%;
  }

  &--half {
    width: 50%;
  }

  &--fourth {
    width: 25%;
  }
}
