@import "../variables/_all";

//Basic styling
.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
  color: $z-dark-gray;
  margin-top: $size-lg;
  padding: $size-lg;
  position: relative;
  border: none;
  background: white;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 2px;
  border-bottom: $base-size solid $z-light-gray;

  &:disabled {
    cursor: not-allowed;
    color: $z-light-gray;
    &:hover {
      color: $z-light-gray;
      border-bottom: none;
    }
  }

  &--full {
    width: 100%;
  }

  &--half {
    width: 50%;
  }

  &--fourth {
    width: 25%;
  }

  &:hover {
    color: $z-orange;
    transition: background-color 0.1s;
    transition-delay: 0s;
  }

  &:active {
    border-color: $z-dark-gray;
    outline: none;
  }
}
