@import '../../../variables/_all';
@import '../../../partials/_buttons';

.form {
  width: 100%;
  background-color: $form-background;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 2px;
}

.button--half {
  width: calc(50% - 4px);

  &:first-child {
    width: calc(50% - 8px);
    margin-right: 8px;
  }
}

.form {
  &__item {
    width: 100%;
    margin-bottom: $size-md;
  }

  &__select {
    width: 100%;
    height: $size-xl;
    border: 1px solid $z-light-gray;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__input {
    width: 100%;
    height: $size-xl;
    border: 1px solid $z-light-gray;
    padding: 0 $size-sm;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: $z-purple;
    }
  }

  &__label {
    width: 20%;
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
    color: $z-purple;
    font-weight: 700;
    margin-bottom: $base-size;
  }

  &__dateinput {

  }
}
