@import '../../variables/_all';
@import '../../partials/_buttons.scss';
@import '../../partials/_breakpoints';

.reservation-overview {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $size-sm;
  grid-row-gap: $size-sm;

  &__title {
    font-weight: 400;
    margin: $size-lg 0;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include phone {
    grid-template-columns: 1fr;
  }
}

.wrapper {
  width: 200%;
}

.reservation {
  &__item {
    display: inline-block;
    width: 100%;
    background-color: $item-background;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 20px;

    &:hover {
      & .reservation {
        &__teams {
          position: absolute;
          top: 40%;
          width: 100%;
          height: 100%;
          transition: top 0.2s;
        }
      }
    }
  }

  &__icon {
    margin-right: $size-sm;
  }

  &__datetime-wrapper {
    margin-bottom: $size-sm;
    display: inline-block;
    width: 50%;
    left: 0%;
    line-height: 1.4em;
    text-align: center;
  }

  &__datetime {
    font-weight: 600;
    display: inline-block;
    margin-bottom: $base-size;
  }

  &__kickerbox-location {
  }

  &__kickerbox {

  }

  &__teams {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    display: inline-block;
    background-color: $z-orange;
    transition: top 0.4s;
    padding: $size-sm;
    text-align: center;
    box-sizing: border-box;
    color: $text-light;
  }

  &__team {
    font-size: 1.2em;
    font-weight: 700;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
