@import '../../variables/_all';

.reservation-overview {
  width: 100%;
  overflow: hidden;

  &__title {
    font-weight: 400;
    margin: $size-lg 0;
  }
}

.reservation {
  &__item {
    width: 100%;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 50% 50%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-left: $size-sm solid transparent;
    margin-bottom: $base-size;
    transition: all 0.7s;
    position: relative;

    &::after {
      content: "";
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      background-color: white;
      transition: all 0.7s;
    }

    &:hover {
      border-left: $size-sm solid $z-orange;
      background-color: white;

      &::after {
        right: -500px;
      }
    }
  }

  &__icon {
    margin-right: $size-sm;
  }

  &__datetime-wrapper {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: $size-sm;
  }

  &__datetime {
  }

  &__kickerbox-location {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  &__kickerbox {

  }

  &__teams {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    align-self: center;
    justify-self: center;
    margin-left: $size-sm;
  }

  &__team {
    font-size: 1.2em;
    font-weight: 700;
  }
}

//Basic styling
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;

    color: $z-dark-gray;
    padding: $size-lg;
    transition: background-color 0.4s;
    transition-delay: 0.4s;

    &:hover {
      color: $z-orange;
      background-color: white;
      transition: background-color 0.1s;
      transition-delay: 0s;
    }

    &.active {
      color: $text-dark;
      transition-delay: 0s;
    }

    i {
      margin-right: $size-sm;
    }
}

//Styling for the animated button-borders
button {
  margin-top: $size-lg;
  position: relative;
  border: none;
  background: white;
  width: 100%;
  cursor: pointer;

  &:hover {
    border-bottom: $base-size solid $z-dark-gray;
  }
}
