<table>
  <tr>
    <th>id</th>
    <th>date</th>
    <th>home team</th>
    <th>visitor team</th>
    <th>kickerbox</th>
    <th>location</th>
  </tr>
  <tr *ngFor="let reservation of reservations">
    <th>{{reservation.id}}</th>
    <th>{{reservation.dateOfReservation | date:'medium'}}</th>
    <th>{{reservation.homeTeamName}}</th>
    <th>{{reservation.visitorTeamName}}</th>
    <th>{{reservation.kickerboxName}}</th>
    <th>{{reservation.kickerboxLocation}}</th>
  </tr>
</table>
<button (click)="gotoMakeReservation()">Make New Reservation</button>
