<div class="reservation-overview">
  <div class="reservation__item" *ngFor="let reservation of reservations">
    <div class="wrapper">
      <div class="reservation__datetime-wrapper">
        <i class="far fa-calendar-alt reservation__icon"></i>
        <div class="reservation__datetime">{{ reservation.dateOfReservation | date:'d.M.yy, h:mm'}}</div>
        <div class="reservation__kickerbox">{{ reservation.kickerboxName }}<br />@{{ reservation.kickerboxLocation }}</div>
      </div>
      <div class="reservation__teams">
        <span class="reservation__team">{{ reservation.homeTeamName }}</span><br />vs<br/><span class="reservation__team">{{ reservation.visitorTeamName }}</span>
      </div>
    </div>
  </div>
</div>

<button class="button button--full button--primary" (click)="gotoMakeReservation()"><span>Make New Reservation</span>
</button>
