<div class="team-overview">
  <h3 class="team-overview__title text--center">- Team Overview -</h3>
  <div class="team__item" *ngFor="let team of teams | async">
    <div class="team__name">
      <span class="team">{{ team.name }}</span>
    </div>
    <div class="team__members">
      <span class="team__member">{{ team.members[0] }}</span> & <span class="team__member">{{team.members[1]}}</span>
    </div>
  </div>
</div>

<button class="button button--full button--primary" (click)="gotoAddTeam()">Add New Team</button>
