<nav>
  <a routerLink="/reservations" routerLinkActive="active" class="nav__button"><span><i class="fas fa-calendar-alt"></i>Reservations</span></a>
  <a routerLink="/results" routerLinkActive="active" class="nav__button"><span><i class="fas fa-clipboard"></i>Results</span></a>
  <a routerLink="/teams" routerLinkActive="active" class="nav__button"><span><i class="fas fa-users"></i>Teams</span></a>
  <a routerLink="/kickerboxes" routerLinkActive="active" class="nav__button"><span><i class="fas fa-futbol"></i>Kickerboxes</span></a>
</nav>
