<div class="kickerbox-overview">
  <h3 class="kickerbox-overview__title text--center">- Kickerbox Overview -</h3>
  <div class="kickerbox__item" *ngFor="let kickerbox of kickerboxes | async">
    <div class="kickerbox-location">
      <span class="kickerbox">{{ kickerbox.name }} @ {{ kickerbox.location }}</span>
    </div>
    <div class="kickerbox__model">
      <span class="kickerbox__model">{{kickerbox.model}}</span>
    </div>
  </div>
</div>

<button class="button button--full" (click)="gotoAddKickerbox()">Add New Kickerbox</button>
