@import 'partials/all';

body {
  background-color: $background-color;
}

app-root {
  display: block;
  width: 800px;
  margin: 40px auto;
}

.content {
  padding: 40px 20px;
  margin-top: 40px;
  background-color: $z-light-gray;
}

.header {
  &__title {
    font-size: 52px;
    margin-top: 50px;
    padding: 20px;
    font-weight: 600;
  }
}

.icon {
  &--h2 {
    font-size: 46px;
    margin: 1px;
  }
}
