@import 'partials/all';
@import 'variables/_all';

html {
  background: $main-background;
  background-attachment: fixed;
}

body {
  font-family: 'Open Sans', sans-serif;
}

app-root {
  display: block;
  width: 800px;
  margin: 40px auto;
}

.content {
  margin-top: 40px;
}

.header {
  &__title {
    font-size: 52px;
    margin-top: 50px;
    padding: 20px;
    font-weight: 600;
  }
}

.icon {
  &--h2 {
    font-size: 46px;
    margin: 1px;
  }
}
